data/
scripts/__pycache__/*
case_study/plots/
case_study/simulated*
case_study/receptor/treeshapy
case_study/receptor/rooted
case_study/receptor/ranks.tsv


find_case/rd
find_case/rd_evaluations/

scripts/old/
old_data/
old_cases/
example/
